<header>

</header>

<body>
  <section class="function container-fluid">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 col-sm-offset-3 col-sm-6 col-sm-offset-3">
        <br><br><br><br><br><br>
        <h1>レンタル店舗検索アプリ</h1><br>
      </div>
        <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 col-sm-offset-3 col-sm-6 col-sm-offset-3">
          <%= link_to "借りたい店舗やスペースを検索する",  new_user_session_path,  class: 'btn btn-primary btn-lg btn-block'%><br><br><br>
        </div>
        <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 col-sm-offset-3 col-sm-6 col-sm-offset-3">
          <%= link_to "貸したい店舗やスペースを登録する",  new_owner_session_path,  class: 'btn btn-danger btn-lg btn-block'%>
        </div>
      </div>
  </section>
</body>

<footer>

</footer>
